@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    I am eleven
        Index.cshtml
        @Html.ActionLink("link","login")
       @Url.Content("~")
    </div>
</body>
</html>
